<div>
    <h2>Addresss</h2>
    <jh-alert></jh-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="address.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span 
                       >Create new Address
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span>ID</span></th>
                    <th><span>Name</span></th>
                    <th><span>id_person</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="address in addresss track by address.id">
                    <td><a ui-sref="address.detail({id:address.id})">{{address.id}}</a></td>
                    <td>{{address.name}}</td>
                    <td>
                        <span ng-repeat="id_person in address.id_persons">
                            <a class="form-control-static" ui-sref="person.detail({id: {{id_person.id}}})">{{id_person.name}}</a>{{$last ? '' : ', '}}
                        <span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="address.detail({id:address.id})"
                                    class="btn btn-info btn-sm"> 
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="address.edit({id:address.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="address.delete({id:address.id})"
                                    class="btn btn-danger btn-sm">                                    
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
